@model ScheduleControl.WebUI.ViewModels.CashboxInputViewModel
@{
    ViewData["Title"] = "CashInsert";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cash İşlem Sayfası</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CashInsert"  method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.CashTypeItemList" class="control-label"></label>

                @*@Html.DropDownList("Cash Types", Model.CashTypeItemList)*@
                @*@Html.DropDownList("CountryList",  Model.CashTypeItemList, "Seçiniz",  new { @class="form-control" })*@
                @Html.DropDownListFor(d => d.CashTypeItemList, Model.CashTypeItemList, "Seçiniz", new { @class = "form-control" })
                @*<input asp-for="@ModelCashTypeItemList" class="form-control" />
        <span asp-validation-for="CaseTypeId" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="TotalQuantity" class="control-label"></label>
                <input asp-for="TotalQuantity" class="form-control" />
                <span asp-validation-for="TotalQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


