USE [master]
GO
/****** Object:  Database [ScheduleProjectDb]    Script Date: 3/25/2020 8:08:01 PM ******/
CREATE DATABASE [ScheduleProjectDb]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ScheduleProjectDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ScheduleProjectDb]
GO
/****** Object:  Schema [HangFire]    Script Date: 3/25/2020 8:08:01 PM ******/
CREATE SCHEMA [HangFire]
GO
/****** Object:  Table [dbo].[Cashbox]    Script Date: 3/25/2020 8:08:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cashbox](
	[CashboxId] [int] IDENTITY(1,1) NOT NULL,
	[CashTypeId] [int] NULL,
	[TotalQuantity] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Cashbox] PRIMARY KEY CLUSTERED 
(
	[CashboxId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CashType]    Script Date: 3/25/2020 8:08:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CashType](
	[CashTypeId] [int] IDENTITY(1,1) NOT NULL,
	[CashTypeName] [nvarchar](50) NULL,
 CONSTRAINT [PK_CashType] PRIMARY KEY CLUSTERED 
(
	[CashTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Currency]    Script Date: 3/25/2020 8:08:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Currency](
	[CurrencyId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Code] [nvarchar](50) NULL,
	[ForexBuying] [decimal](18, 4) NULL,
	[ForexSelling] [decimal](18, 4) NULL,
	[BanknoteBuying] [decimal](18, 4) NULL,
	[BanknoteSelling] [decimal](18, 4) NULL,
	[LastUpdateTime] [datetime] NULL,
 CONSTRAINT [PK_Currency] PRIMARY KEY CLUSTERED 
(
	[CurrencyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FinancialCash]    Script Date: 3/25/2020 8:08:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinancialCash](
	[FinancialCashId] [int] IDENTITY(1,1) NOT NULL,
	[CurrencyId] [int] NOT NULL,
	[CashCurrncy] [decimal](18, 2) NOT NULL,
	[LastUpdatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_FinancialCash] PRIMARY KEY CLUSTERED 
(
	[FinancialCashId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 3/25/2020 8:08:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Status] [bit] NULL,
	[IsActivatedMailSend] [bit] NULL,
	[UserGuid] [uniqueidentifier] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cashbox] ON 
GO
INSERT [dbo].[Cashbox] ([CashboxId], [CashTypeId], [TotalQuantity]) VALUES (1, 1, CAST(120.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[Cashbox] ([CashboxId], [CashTypeId], [TotalQuantity]) VALUES (2, 2, CAST(45.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[Cashbox] ([CashboxId], [CashTypeId], [TotalQuantity]) VALUES (3, 2, CAST(45.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[Cashbox] OFF
GO
SET IDENTITY_INSERT [dbo].[CashType] ON 
GO
INSERT [dbo].[CashType] ([CashTypeId], [CashTypeName]) VALUES (1, N'Gelir')
GO
INSERT [dbo].[CashType] ([CashTypeId], [CashTypeName]) VALUES (2, N'Gider')
GO
SET IDENTITY_INSERT [dbo].[CashType] OFF
GO
SET IDENTITY_INSERT [dbo].[Currency] ON 
GO
INSERT [dbo].[Currency] ([CurrencyId], [Name], [Code], [ForexBuying], [ForexSelling], [BanknoteBuying], [BanknoteSelling], [LastUpdateTime]) VALUES (1, N'ABD DOLARI', N'US DOLLAR', CAST(6.4943 AS Decimal(18, 4)), CAST(6.5060 AS Decimal(18, 4)), CAST(6.4898 AS Decimal(18, 4)), CAST(6.5158 AS Decimal(18, 4)), CAST(N'2020-03-25T00:07:56.870' AS DateTime))
GO
INSERT [dbo].[Currency] ([CurrencyId], [Name], [Code], [ForexBuying], [ForexSelling], [BanknoteBuying], [BanknoteSelling], [LastUpdateTime]) VALUES (2, N'AVUSTRALYA DOLARI', N'AUSTRALIAN DOLLAR', CAST(3.8482 AS Decimal(18, 4)), CAST(3.8733 AS Decimal(18, 4)), CAST(3.8305 AS Decimal(18, 4)), CAST(3.8965 AS Decimal(18, 4)), CAST(N'2020-03-25T00:07:56.870' AS DateTime))
GO
INSERT [dbo].[Currency] ([CurrencyId], [Name], [Code], [ForexBuying], [ForexSelling], [BanknoteBuying], [BanknoteSelling], [LastUpdateTime]) VALUES (3, N'DANİMARKA KRONU', N'DANISH KRONE', CAST(0.9420 AS Decimal(18, 4)), CAST(0.9467 AS Decimal(18, 4)), CAST(0.9414 AS Decimal(18, 4)), CAST(0.9488 AS Decimal(18, 4)), CAST(N'2020-03-25T00:07:56.870' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Currency] OFF
GO
SET IDENTITY_INSERT [dbo].[FinancialCash] ON 
GO
INSERT [dbo].[FinancialCash] ([FinancialCashId], [CurrencyId], [CashCurrncy], [LastUpdatedDate]) VALUES (1, 1, CAST(3.53 AS Decimal(18, 2)), CAST(N'2020-03-25T00:12:25.640' AS DateTime))
GO
INSERT [dbo].[FinancialCash] ([FinancialCashId], [CurrencyId], [CashCurrncy], [LastUpdatedDate]) VALUES (2, 2, CAST(5.90 AS Decimal(18, 2)), CAST(N'2020-03-25T00:12:26.867' AS DateTime))
GO
INSERT [dbo].[FinancialCash] ([FinancialCashId], [CurrencyId], [CashCurrncy], [LastUpdatedDate]) VALUES (3, 3, CAST(24.24 AS Decimal(18, 2)), CAST(N'2020-03-25T00:12:28.570' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[FinancialCash] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 
GO
INSERT [dbo].[User] ([UserId], [FirstName], [LastName], [Email], [Password], [Status], [IsActivatedMailSend], [UserGuid]) VALUES (1, N'adem', N'olguner', N'ademolguner@gmail.com', N'123', 0, 0, N'f3bd01e5-f8f8-43b0-8eca-21000cbc8ecf')
GO
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Cashbox]  WITH CHECK ADD  CONSTRAINT [FK_Cashbox_CashType] FOREIGN KEY([CashTypeId])
REFERENCES [dbo].[CashType] ([CashTypeId])
GO
ALTER TABLE [dbo].[Cashbox] CHECK CONSTRAINT [FK_Cashbox_CashType]
GO
ALTER TABLE [dbo].[FinancialCash]  WITH CHECK ADD  CONSTRAINT [FK_FinancialCash_Currency] FOREIGN KEY([CurrencyId])
REFERENCES [dbo].[Currency] ([CurrencyId])
GO
ALTER TABLE [dbo].[FinancialCash] CHECK CONSTRAINT [FK_FinancialCash_Currency]
GO
USE [master]
GO
